<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Home</h2>
  </div>
  <div class="panel-body">
    <p>Welcome to Movie Library application</p>
    <p>This simple application will allow user to </p>
    <ul>
      <li>
        List All movies in grid
      </li>
      <li>
        Create new Movie (with several directors)
      </li>
      <li>
        Update an existing movie
      </li>
      <li>
        Delete an existing movie
      </li>
      <li>
        Sort list of movies by title, director, release date, type
      </li>
      <li>
        Search for a movie by title, director, release date, type
      </li>
      <li>
        Display the list of films of a Director on Hover (author page)
      </li>
    </ul>
  </div>
</div>
